services:
  anki-sync-server:
    image: anki-sync-server
    build:
      context: .
      dockerfile: Dockerfile
      network: host
      args:
        - ANKI_VERSION=${ANKI_VERSION:-25.09.2}
        - ANKI_PACKAGE=${ANKI_PACKAGE:-anki-25.09.2-linux-qt6}
    environment:
      - SYNC_USER1=${SYNC_USER1:?Please set SYNC_USER1 in format user:pass}
      - SYNC_USER2=${SYNC_USER2:-}
      - SYNC_USER3=${SYNC_USER3:-}
      - SYNC_USER4=${SYNC_USER4:-}
      - SYNC_USER5=${SYNC_USER5:-}
      - SYNC_BASE=${SYNC_BASE:-/syncserver}
    volumes:
      - ${DATA_PATH:-./syncserver}:/syncserver